#root {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: normal;
  font-weight: 400;
  font-size: 1.6rem;
}
