:root {
  /* кнопка primary */
  /* бэкграунд */
  --primary-button-background-color: #0040c1;
  /* форма */
  --primary-button-padding: 0.65rem 1.6rem;
  --primary-button-border-radius: 0.4rem;
  /* шрифт  */
  --primary-button-font-color: #ffffff;
  --primary-button-font-size: 1.2rem;
  --primary-button-font-weight: 600;

  /* кнопка primary hover */
  /* бэкграунд */
  --primary-button-hover-background-color: #154fef;
}

/* светлые стили */
:root[data-theme='light'] {
  /* бэкграунд */
  --primary-background-color: #ffffff;

  /* шрифт */
  --primary-font-color: #101828;
  --secondary-font-color: #667085;
}

/* тёмные стили */
:root[data-theme='dark'] {
  /* бэкграунд */
  --primary-background-color: #101828;

  /* шрифт */
  --primary-font-color: #ffffff;
  --secondary-font-color: #98a2b3;
}
