.container {
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main'
    'sidebar footer';
  grid-template-columns: 24.8rem 1fr;
  grid-template-rows: auto 1fr;

  width: 100%;
}
