.container {
  grid-area: header;

  width: 100%;

  background-color: var(--primary-background-color);

  padding: 2.4rem 3.2rem;

  transition: background 0.3s ease;
}

.wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.title {
  color: var(--primary-font-color);
  font-size: 2.4rem;
  font-weight: medium;
  line-height: 120%;
}

.subtitle {
  color: var(--secondary-font-color);
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 120%;
}
